iframe {
    top: 0px;
    height: 100px;
    width: 80%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

* {
    margin: 0;
    padding: 0;
}

#body {
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    color: white;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background: url("background.jpg")no-repeat;
    overflow: hidden;
    background-size: cover;
    font-size: 20px;
}

body a {
    color: white;
    text-decoration: none;
}

body button {
    color: #e279ae;
}

body span {
    color: #d1e2a2;
}

.center_bottom input {
    color: #d1e2a2;
    font-size: 12px;
    height: 20px;
    width: 40px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 6px;
}

.table_div {
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

.div_clear {
    clear: both;
}

.center_center {
    height: 400px;
    width: 900px;
    float: left;
}



.table_content table th:nth-child(even) {
    background-color: #d1e2a2;
}

.table_content table th:nth-child(odd) {
    background-color: #afa9e7;
}

.table_content {
    margin: 5px;
    border: 1px dashed #ecbcd0;
    width: 1000px;
    height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}

.table_content table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    font-size: 100px;
}



.table_content table tr:hover {
    background-color: #8de9cd;
}




.table_content table th {
    height: 60px;
    text-align: center;
    font-size: 23px;
    border-right: 2px dashed #FFF0F5;
    border-bottom: 2px dashed #FFF0F5;
    border-collapse: collapse;
}




.table_content table td {
    width: 10%;
    height: 45px;
    font-size: 20px;
    max-width: 300px;
    text-align: center;

    word-wrap: break-word;
    vertical-align: middle;
    border-right: 2px dashed #FFF0F5;
    border-bottom: 2px dashed #FFF0F5;
}